version: "3.9"

services:
  backend:
    build: ./backend
    container_name: python-backend
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: rootpassword
      DB_NAME: mydb

  frontend:
    build: ./frontend
    container_name: node-frontend
    ports:
      - "3000:3000"
    depends_on:
      - backend

  db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: mydb
    ports:
      - "3306:3306"
    volumes:
      - ./server/DDL_Test_SQL.sql:/docker-entrypoint-initdb.d/1-schema.sql
